.header{
	background-color: purple;
	height: 200px;
	width: 100%;
}
.red-container{
	background-color: red;
	height: 1500px;
	width: 60%;
	margin: auto;
	padding:40px;
}
.blue-box{
	background-color: blue;
	height: 400px;
	width: 60%;
	margin: 70px auto;
}
.yellow-square{
	float: left;
	background-color: yellow;
	width: 100px;
	height: 100px;
	margin: 30px;
	margin-left: 50px;
}
.green-rectangle{
	float: right;
	background-color: green;
	height: 300px;
	width: 400px;
	margin: 30px;
	margin-right: 40px;
}